*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    height: 10vh;
    border: 1px solid red;

}

#Airbnb-logo{
    height:100% ;
    width:8vw ;
    border: 1px solid red;

    img{
        height: 100%;
        width: 8vw;
    }
}

