* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header { 
  width: 100vw;
  height: 10vh;
  border: 1px solid red;
  display: flex;
}

.container{
  width: 80vw;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .gridItem1 img{
  height: 2.4rem;
  width: 4rem;
  border-radius: 6px;
}

.header .container .gridItem3{
  display: flex;
  justify-content: center;
  align-items: center;
}